/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 60px;
    background-color: #211E1F; 
}

/* Navigation Bar Styling */
nav {
    background-color: #211E1F;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a:hover {
    color: #F05123;
}

nav ul li a .icon {
    display: none; /* Icons hidden by default */
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

/* Responsive styles for the mobile navigation */
@media (max-width: 768px) {
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #211E1F;
        padding: 0.5rem 0;
        z-index: 1000;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        display: inline;
        margin: 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    /* Show icons and hide text for the mobile */
    nav ul li a .icon {
        display: block; /* Icons shown on the mobile */
    }

    nav ul li a .text {
        display: none; /* Text hidden on the mobile */
    }
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/hero bg.svg');
    height: 100vh;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; 
    padding: 0 20px;
}

.hero-svg {
    width: 100%; 
    height: auto; 
}

/* Fr mobile */
@media (max-width: 768px) {
    .hero-content {
        padding: 20px; 
    }

    .hero-svg {
        max-width: 80%; 
    }
}

/* Floating Icons in Hero Section */
.floating-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
}

.floating-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Floating Animation */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* Icon Positioning */
.floating-icon:nth-child(1) {
    top: 10%;
    left: 20%;
    animation: float 6s ease-in-out infinite;
}

.floating-icon:nth-child(2) {
    top: 20%;
    left: -50%;
    animation: float 8s ease-in-out infinite;
}

.floating-icon:nth-child(3) {
    bottom: 50px;
    left: -86%;
    animation: float 7s ease-in-out infinite;
}

.floating-icon:nth-child(4) {
    bottom: 80px;
    right: -200px;
    animation: float 9s ease-in-out infinite;
}

.floating-icon:nth-child(5) {
    top: 20%;
    left: 100%;
    animation: float 9s ease-in-out infinite;
}

.floating-icon:nth-child(6) {
    bottom: -8%;
    right: 89%;
    animation: float 9s ease-in-out infinite;
}

.floating-icon:nth-child(7) {
    top: 0;
    right: -320px;
    animation: float 9s ease-in-out infinite;
}

.floating-icon:nth-child(8) {
    bottom: -12px;
    right: 100px;
    animation: float 9s ease-in-out infinite;
}

